body {
  background: linear-gradient(#bbb, transparent 1px),
    linear-gradient(90deg, #bbb, transparent 1px);
  background-size: 15px 15px;
  background-position: center center;
}

.modal{
  min-height: 130px;
  position: absolute;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  width: 35%;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  left: 35%;
  top: 10%;
  background-color: white;
}

.title_modal{
  margin-top: 2%;
  margin-left: 35%;
}

.input_modal{
  margin-top: 2%;
  margin-left: 5%;
  width: 90%;
}

.input_reg{
  width: 100%;
}

.proceed_modal{
  border: 1px solid;
  width: 50%;
  height: 30px;
  margin-top: 3%;
  margin-left: 25%;
  background-color: white;
  border-radius: 5px;
}

.proceed_modal:active{
  border: 3px solid;
}

.chat_area{
  display: flex;
}

.chat{
  overflow-y: scroll;
  
}

.user_window{
  position: absolute;
  margin-top: 65px;
  margin-left: 30px;
  border: 1px solid;
  border-radius: 5px;
  z-index: 1;
  width: 350px;
  padding-bottom: 10px;
  background-color: white;
}

.chat_list{
  position: absolute;
  background-color: white;
  z-index: 999;
  border: 1px solid;
  border-radius: 5px;
  width: 500px;
  margin-top: 50px;
  margin-left: 200px;
  min-height: 400px;
}

.my_message{
  text-align: right;
  margin-right: 15px;

}

.circle{
  border-radius: 50px;
}

.title{
  display: inline-flex;
  width: 30%;
  font-size: 12px;
}

.input{
  width: 97%;
  margin-left: 1.5%;
  margin-top: 5px;
  border-radius: 5px;
}

.message_date{
  padding-left: 5%;
}

.message_text{
  margin-top: 10px;
  margin-left: auto;
}
.message{
  margin-bottom: 20px;
}

.online_user{
  margin-left: 10px;
  width:110px; 
  width: 150px;
  display: flex;
  margin-top: 10px;
}

.username{
  padding-top: 5%;
  padding-left: 5%;
  text-align: center;
  max-width: 150px;
}

.circle{
  border: solid 1px;
  width: 30px;
  height: 30px;
}

.users_window{
  border: solid 1px;
  width: 155px;
}

.fog{
  position: relative;
  display: none;
}

.chat{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 350px;
}
